* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;
}

/* GRID GENERAL */
.layout {
    display: grid;
    grid-template-rows: 300px auto;
}

/* HERO */
.hero {
    background-image: url("fondo.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    position: relative;
  z-index: 1;
}

.overlay {
    background-color: rgba(0,0,0,0.55);
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    color: white;
    position: relative;
  z-index: 1;
}

.overlay h1 {
    font-size: 42px;
    letter-spacing: 2px;
}

.overlay p {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 3px;
}

/* PERFIL */
.perfil {
    display: grid;
  place-content: center;
  margin-top: -70px;
  position: relative;
  z-index: 10; 
    
}

.perfil img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 6px solid white;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    
}

/* CONTENIDO */
.contenido {
    display: grid;
    place-content: center;
    padding: 40px 20px;
}

/* SOBRE MI */
.sobre-mi {
    max-width: 600px;
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
}

.sobre-mi h2 {
    font-size: 16px;
    letter-spacing: 3px;
    color: #333;
}

.linea {
    width: 40px;
    height: 3px;
    background-color: #c0392b;
    margin: 15px auto;
}

.sobre-mi p {
    color: #666;
    line-height: 1.6;
    font-size: 14px;
}



/* BTN */

.btn-descarga {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  background-color: #1f2933;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn-descarga:hover {
  background-color: #111827;
  transform: translateY(-2px);
}

.contacto {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.btn-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f2933;
  transition: all 0.3s ease;
}

.btn-icon svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.btn-icon:hover {
  transform: translateY(-4px);
}

/* Colores por red */
.linkedin:hover {
  background: #0a66c2;
}

.whatsapp:hover {
  background: #25d366;
}

.correo:hover {
  background: #6b7280;
}

/*PIE DE PAGINA*/

.footer {
  background: #111827;
  color: #e5e7eb;
  padding: 25px 15px;
  text-align: center;
}

.footer-contenido {
  max-width: 1100px;
  margin: auto;
}

.footer p {
  margin: 5px 0;
  font-size: 0.9rem;
}

.footer-sub {
  font-size: 0.8rem;
  color: #9ca3af;
}